.container{
    background-color: #d2e7f0;
    overflow: scroll;
    max-height: 500px;
    border: 4px solid #81d0e4;
    border-radius: 10px 0 0 10px;
}

.element {
    border-radius: 10px;
    max-width: 250px;
    display: inline-block;
    padding: 30px 20px;
    margin: 10px;
    box-shadow: inset 0 0 10px #e2788c;
    background-color: #edd0ca;
    color: #ffffff;
}