:root {
    /* font-family */
    --first-family: "Satoshi", sans-serif;
    --second-family: "GolosText", sans-serif;
    --third-family: "Integral-CF", sans-serif;

    /* color */
    --main-color: #000;
    --secondary-color: #fff;
    --first-accent-color: #00000099;
    --second-accent-color: #00000066;
    --background-color: #f0f0f0;
    --background-color-shadow: #a8a8a8; 
    --separator-color: #0000001a;
    --discounts-color: #f33;
    --discounts-background-color: #ff33331a;

    /* transition */
    --transitions-time: 0.2s;

    /* z-index */
    --layer-0: 0;
    --layer-1: 1;
    --layer-2: 2;
    --layer-3: 3;
}