html {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: #535755;
}

.button {
    display: inline-block;
    padding: 19px 32px;
    background-color: #3596ED;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 2%;
    text-align: center;
    transition: opacity .2s;
}
.button:hover{
    opacity: .75;
}
.section{
    margin-bottom: 140px;
}
.title-large{
    font-size: 48px;
    max-width: 596px;
    font-family: Oswald, sans-serif;
    font-weight: 600;
    line-height: 115%;
    text-transform: uppercase;
    color: #2C332F;
    margin-bottom: 40px;
}
.tex-sub {
    color: #858E8A;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 4%;
    text-transform: uppercase;
}