body {
    font-family: sans-serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
*{
    box-sizing: border-box;
}
.form{
    border: 1px solid #333;
    max-width: 400px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
}

.form-group{
    border: none;
    padding: 0;
}
.form-group-title{
    font-weight: 700;
    padding: 0;
    margin-bottom: 15px;
}
.label{
    display: inline-block;
    margin-bottom: 10px;
}
.textarea{
    max-height: 150px;
    min-height: 30px;
    resize: vertical;
}
.input, .textarea {
    border: 1px solid #333;
    border-radius: 6px;
    width: 100%;
    padding: 5px 12px;
    margin-bottom: 20px;
    outline: none;
}
.input:disabled, .textarea:disabled {
    opacity: 0.5;
}
.checkbox{
    position: absolute;
    appearance: none;
    outline: none;
}
.checkbox::after{
content: "";
position: absolute;
width: 16px;
height: 16px;
border: 1px solid #333;
border-radius: 4px;
cursor: pointer;
}
.checkbox:checked::after{
    background: url(../img/check-icon.svg) no-repeat center, #7c32c0;
}
.checkbox-text{
    font-size: 14px;
    padding-left: 22px;
}
.button{
    border: none;
    border-radius: 6px;
    padding: 6px 18px;
    background-color: #7c32c0;
    color: aliceblue;
    cursor: pointer;
    margin-top: 10px;
    transition: opacity .2s;
}
.button:hover{
opacity: .5;
}
.button:not(:disabled):active{
    background-color: #482668;
}
.button:disabled, .checkbox:disabled::after{
    opacity: 0.5;
    cursor: default;
}
input:focus-visible, textarea:focus-visible, button:focus-visible, .checkbox:focus-visible::after{
    outline: 2px solid #7c32c0;
    outline-offset: 1px ;
}