
article {
    padding-top: 80px;
    padding-bottom: 120px;
}

.article-title {
    max-width: 596px;
    font-family: Oswald;
    font-weight: 600;
    line-height: 115%;
    text-transform: uppercase;
    color: #2C332F;
    margin-bottom: 40px;
}

.article-title-large {
    font-size: 48px;
}
.article-title-medium {
    font-size: 36px;
}

.article-text {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: #535755;
}
.article-text:last-child {
    margin-bottom: 0;
}
.article-mb-1 {
    margin-bottom: 80px;
}
.article-decore-wrapper{
    position: relative;
}
.article-decore-wrapper::before {
    position: absolute;
    z-index: -1;
    content: "";
    background: url(../imgs/dec.svg) no-repeat;
    width: 528px;
    height: 48px;
}
.article-decore-wrapper-1::before{
    top: 100px ;
    left: -350px;
}
.article-decore-wrapper-2::before {
    bottom: 136px ;
    right: -350px;
}
.article-img{
    width: 100%;
    height: 512px;
}
.article-img-2{
margin-bottom: 40px;
}
.article-list{
    margin-top: 0;
    margin-bottom: 80px;
    padding-left: 16px;
}
.article-item:not(:last-child){
    margin-bottom: 12px;
}
.article-item::marker{
    color: #3596ED;
    font-size: 22px;
}
.article-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 0;
    background-color: #3596ED;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

