html {
    font-family: sans-serif;
}
body {
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.square {
    background-color: black;
    width: 50px;
    height: 50px;
}
.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 15px;
}
.container-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.container-link{
    display: flex;
    gap: 20px;
}
a {
    color: #000;
}
.phone {
    text-decoration: none;
}
