@media (width > 768px) {
    .burger {
        display: none;
    }
}

@media (width <=768px) {
    .burger {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        z-index: var(--layer-3);
    }

    .header__burger-icon,
    .burger--open .header__cross-menu-icon {
        display: block;
    }

    .header__cross-menu-icon,
    .burger--open .header__burger-icon {
        display: none;
    }
}