    .promo-banner {
        display: none;
        position: fixed;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: var(--main-color);
        top: 0;
        left: 0;
        z-index: 1000;
        transition: transform var(--transitions-time), opacity var(--transitions-time);
    }

    .promo-banner--hidden {
        transform: translateX(-100%);
        opacity: 0;
        pointer-events: none;
    }

    @media (width > 768px) {
        .promo-banner {
            height: 38px;
        }
    }

    @media (width <=768px) {
        .promo-banner {
            height: 34px;
        }
    }

    @media (width > 768px) {
        .promo-banner__text {
            font-size: 14px;
            color: var(--secondary-color);
        }
    }

    @media (width <=768px) {
        .promo-banner__text {
            display: none;
        }
    }

    .promo-banner__link {
        color: var(--secondary-color);
        font-weight: 500;
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }

    .promo-banner__close {
        position: absolute;
    }

    @media (width > 768px) {
        .promo-banner__close {
            right: 6%;
        }
    }

    @media (width <=768px) {
        .promo-banner__close {
            right: 4%;
        }
    }


    .promo-banner__icon {
        color: var(--main-color);
    }