@media (width > 768px) {
    .burger {
        display: none;
    }
}

@media (width <=768px) {
    .burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        z-index: var(--layer-3);
    }

    .header__burger-icon,
    .burger--open .header__cross-menu-icon {
        display: block;
    }

    .header__cross-menu-icon,
    .burger--open .header__burger-icon {
        display: none;
    }
}