html {
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
}

body * {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

article {
    padding-top: 80px;
    padding-bottom: 120px;
}

.article-title {
    max-width: 596px;
    font-family: Oswald;
    font-weight: 600;
    line-height: 115%;
    text-transform: uppercase;
    color: #2C332F;
    margin-bottom: 40px;
}

.article-title-large {
    font-size: 48px;
}
.article-title-medium {
    font-size: 36px;
}

.article-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: #535755;
    margin-bottom: 20px;
}
.article-mb-1{
    margin-bottom: 80px;
}
.article-mb-2{
    margin-bottom: 40px;
}
.article-decore-wrapper{
    position: relative;
}
.article-decore-wrapper::before {
    position: absolute;
    z-index: -1;
    content: "";
    background: url(../imgs/dec.svg) no-repeat;
    width: 528px;
    height: 48px;
}
.article-decore-wrapper-1::before{
    top: 100px ;
    left: -350px;
}
.article-decore-wrapper-2::before {
    bottom: 136px ;
    right: -350px;
}
.article-img{
    width: 100%;
    height: 512px;
    margin-bottom: 80px;
}
.article-list{
    margin-top: 0;
    padding-left: 16px;
}
.article-item{
    margin-bottom: 8px;
}
.article-item::marker{
    color: #3596ED;
    font-size: 22px;
}
.article-item:last-child{
    margin-bottom: 80px;
}
.article-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 0;
    background-color: #3596ED;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
