html {
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
}

body * {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

article {
    padding-top: 80px;
    padding-bottom: 120px;
}

.article-title {
    max-width: 596px;
    font-family: Oswald;
    font-weight: 600;
    line-height: 115%;
    text-transform: uppercase;
    color: #2C332F;
    margin-bottom: 40px;
}

.article-titel-large {
    font-size: 40px;
}
.article-titel-medium {
    font-size: 36px;
}

.article-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: #535755;
    margin-bottom: 20px;
}
.article-mb{
    margin-bottom: 80px;
}
.article-img{
    width: 100%;
    height: 512px;
    margin-bottom: 80px;
}
.article-list{
    margin-top: 0;
    padding-left: 14px;
}
.article-item{
    margin-bottom: 8px;
}
.article-item:last-child{
    margin-bottom: 80px;
}
.article-video{
    margin-bottom: 40px;
    width: 100%;
}