.e-mail-blast__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: var(--layer-3);
    background-color: var(--main-color);
    border-radius: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (width > 768px) {
    .e-mail-blast__container {
        /* Viewport: min768px max1440px */
        padding: 36px clamp(1.5rem, -1.357rem + 5.95vw, 4rem);
        /* Viewport: min768px max1440px */
        margin: -90px clamp(16px, -5rem + 12.5vw, 100px);
    }
}

@media (width <=768px) {
    .e-mail-blast__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 32px;
        padding-top: 32px;
        padding-bottom: 28px;
        /* Viewport: min390px max768px */
        padding-inline: clamp(16px, -10.22rem + 46.03vw, 100px);
        /* Viewport: min390px max768px */
        margin: -90px clamp(16px, -0.032rem + 4.23vw, 32px);
    }
}

.e-mail-blast__title {
    font-weight: 900;
    /* Viewport: min768px max1440px */
    font-size: clamp(30px, 1.161rem + 1.49vw, 40px);
    line-height: 113%;
    color: var(--secondary-color);
}

@media (width > 992px) {
    .e-mail-blast__title {
        width: 600px;
    }
}

@media (width <=992px) {
    .e-mail-blast__title {
        width: 360px;
    }
}

@media (width <=768px) {
    .e-mail-blast__title {
        width: auto;
    }
}

.e-mail-blast__form {
    max-width: 350px;
}

.e-mail-blast__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media (width > 1220px) {
    .e-mail-blast__label {
        width: 349px;
    }
}

@media (width <=1220px) {
    .e-mail-blast__label {
        width: 311px;
    }
}

.e-mail-blast__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--secondary-color);
    border-radius: 62px;
    padding: 12px 16px;
    margin-bottom: 14px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 13px;
    -webkit-transition: -webkit-box-shadow var(--transitions-time);
    transition: -webkit-box-shadow var(--transitions-time);
    -o-transition: box-shadow var(--transitions-time);
    transition: box-shadow var(--transitions-time);
    transition: box-shadow var(--transitions-time), -webkit-box-shadow var(--transitions-time);
}

@media (any-hover: hover) {
    .e-mail-blast__search:hover {
        -webkit-box-shadow: var(--shadow-light-glow);
                box-shadow: var(--shadow-light-glow);
    }
}


.e-mail-blast__input {
    border: none;
    padding: 0px;
}

.e-mail-blast__button {
    border-radius: 62px;
    padding: 12px 16px;
    height: 46px;
    background-color: var(--secondary-color);
    -webkit-transition: -webkit-box-shadow var(--transitions-time);
    transition: -webkit-box-shadow var(--transitions-time);
    -o-transition: box-shadow var(--transitions-time);
    transition: box-shadow var(--transitions-time);
    transition: box-shadow var(--transitions-time), -webkit-box-shadow var(--transitions-time);
}

@media (any-hover: hover) {
    .e-mail-blast__button:hover {
        -webkit-box-shadow: var(--shadow-light-glow);
                box-shadow: var(--shadow-light-glow);
    }
}