.hero {
    position: relative;
    padding-top: 80px;
}

.hero::before {
    width: 100%;
    bottom: 106px;
}

.title-hero {
    font-family: Oswald, sans-serif;
    font-size: 62px;
    font-weight: 600;
    line-height: 115%;
    text-align: left;
    text-transform: uppercase;
    color: #2c332f;
    margin-bottom: 40px;
}

.hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 28px;
}

.hero h1 strong {
    color: #3596ED;
    font-weight: 600;
}

.hero-info {
    max-width: 492px;
}

.hero-info .text {
    margin-bottom: 140px;
    max-width: 440px;
}

.images-hero {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hero-choose {
    position: absolute;
    top: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 22px;
    border: 1px solid #535755;
    background: rgba(255, 255, 255, 0.9);
    max-width: 161px;
    text-align: center;
}

.news-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 284px;
    background-color: #FFFFFF;
    border: 1px solid #d2cbd9;
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
}

.news-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 28px;
}

.news-article img {
    display: block;
}

.news-info {
    padding: 20px 20px 0;
    margin-bottom: 12px;
}

.news-date {
    display: inline-block;
    margin-bottom: 8px;
}

.news-article footer {
    padding: 0 20px 20px;
    margin-top: auto;
}

.news-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    text-align: left;
    color: #3596ED;
}

.news-link:hover::after {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.news-link::after {
    content: "";
    width: 22px;
    height: 9px;
    background-image: url(../imgs/Arrow.svg);
    display: inline-block;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.faq {
    position: relative;
}

.faq::before {
    top: 215px;
}

.faq_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 28px;
}

details {
    border-block: 1px solid #d2cbd9;
    margin-bottom: 20px;
}

details:last-child {
    margin-bottom: 0;
}

details[open] summary::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 5px;
    padding: 20px;
    list-style: none;
    cursor: pointer;
}

details>p {
    padding: 0 20px 20px;
}

summary::after {
    content: "";
    display: inline-block;
    width: 17px;
    height: 22px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background: url(../imgs/arrowdowntwo.svg) no-repeat center / cover;
}

summary::-webkit-details-marker {
    display: none;
}

@media (width <=1440px) {
    .images-hero img {
        width: 50%;
    }
}

@media (width <=992px) {
    .images-hero {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .hero-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .hero::after {
        display: none;
    }

    .hero-info {
        text-align: center;
    }

    .title-hero {
        text-align: center;
        font-size: 52px;
        margin-bottom: 30px;
    }

    .hero-info .text {
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .news-container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 20px;
    }

    .news-article {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        width: 350px;
    }

    .faq_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .faq::before {
        display: none;
    }
}

@media (width <=768px) {
    .title-hero {
        font-size: 50px;
    }

    .news-article {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        width: 400px;
    }
}

@media (width <=576px) {
    .hero {
        padding-top: 60px;
    }

    .hero-info {
        max-width: 410px;
    }

    .title-hero {
        font-size: 42px;
    }

    .hero-choose {
        max-width: 125px;
        padding: 10px;
        font-style: 14px;
    }
}